/* Pie de página */
footer {
    background-color:  var(--light-blue);
    color: var(--second-blue);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    display: grid;
    place-items: center;
}
footer .container {
    max-width: 1200px;
}
footer p {
    margin-top: 10px;
    font-size: x-small;
    text-transform: uppercase;
    color: #ACACAC;
}
footer .footer-links {
    list-style: none;
    padding: 0;
}
footer .footer-links li {
    display: inline;
}
footer .footer-links a {
    color: var(--second-blue);
    text-decoration: none;
}
footer .footer-links a:hover {
    text-decoration: underline;
}