@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* variables*/
:root{
    --white: #fafafa;
    --black: #36383F;
    --gray: #85888C;
    --main-blue: #0b3d62;
    --second-blue: #1c69a1;
    --gold: #cead51;
    --dark-gold: #a68b3f;
    --light-blue: #ddf0fc;
    --lighter-blue: #ddf0fc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
.bg-agendamate-color {
    background-color: var(--light-blue);
}
.bg-agendame {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 75px; 
    height: 100%; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    filter: drop-shadow(0px 0px 0px black);
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.list-group-item {
    color: var(--second-blue);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.img-background-color {
    background-color: transparent;
}

.min-height-card-250 {
    min-height: 200px !important;;
}

.card-title {
    color: var(--main-blue);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card-text {
    color: var(--main-blue);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.card-title-underlined {
    color: var(--dark-gold);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card-title-underlined::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-top: 5px;
    border-bottom: 1px solid var(--gold);
}

.col-bottom-marged {
    margin-bottom: var(--bs-gutter-y);
}

@media (max-width: 576px) {
    .container {
        width: inherit;
    }
}
  
  /* SM styling */
@media (min-width: 0) and (max-width: 577px) {
    .container {
        width: inherit;
    }
}

.divider-75 {
    border: 1px solid var(--dark-gold); width: 75%;
}

.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
    z-index: -1;
}
  
.small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
    top: 0;
}
  
.medium{
    width: 400px;
    height: 400px;
    left: -200px;
    top: -100px;
}

.large{
    width: 600px;
    height: 600px;
    left: -300px;
    top: -200px;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    top: -300px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -400px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.8);
    }

    50%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(0.8);
    }
}

#problems:hover {
    box-shadow: 0 0 10px 0 var(--gold);
}

.card {
    border: none;
}

.container {
    max-width: 1200px;
}

#plans .card {
    border: 1px solid var(--gold);
}

.list-group-item {
    border: none;
}

.list-group-item::before {
    content: "✔";
    margin-right: 10px;
    color: var(--gold);
}

.list-group-item::after {
    content: '';
}

.btn-primary {
    background-color: var(--main-blue);
    border: none;
}

.btn-primary:hover {
    background-color: var(--second-blue);
}

.card-header {
    background-color: var(--lighter-blue);
    color: var(--main-blue);
}

.card-header h5.card-title {
    color: var(--main-blue);
}

.card-footer {
    background-color: var(--lighter-blue);
    color: var(--lighter-blue);
}

footer {
    background-color: var(--main-blue);
    color: var(--white);
}

footer a {
    color: var(--white);
}

.white-text {
    color: var(--white);
}

.list-group-flush .list-group-item {
    background-color: transparent;
}

.list-group-flush .list-group-item::before {
    background-color: var(--gold);
    color: var(--white);
    content: '';
}


.social-media-list-item {
    list-style-type: none; 
    background-color: transparent;
}

.social-media-list-item::before {
    background-color: transparent !important;
    color: transparent !important;
    content: '';
}

#banner {
    height: 100vh;
    background-image: url('./../images/cover.png');
    background-repeat:no-repeat;
    background-position: center center;
}

#tools {
    color: var(--white);
    background-image: url("data:image/svg+xml,%3Csvg width='1920' height='300' viewBox='0 0 1920 300' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1969.53 234.898L983.893 298.705L0.291626 234.898V0.931885H1969.53V234.898Z' fill='%230E3E63'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: center center;
    min-height: 300px;  
    background-color: #CCE0EA;
}

#tools h1 {
    color: var(--white);
}

#tools h1 strong {
    color: var(--white);
}

.tools-icons {
    max-width: 226px; 
    max-height: 180px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding: 0;
    margin-top: 50px;
}

#tools-details {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1920' height='700' viewBox='0 0 1920 700' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 628.694L955.019 700L1914 628.694V0H0V628.694Z' fill='%23CCE0EA'/%3E%3C/svg%3E%0A");
    background-repeat:no-repeat;
    background-position: top center;
    height: 750px;
    max-height: 750px;
    background-color: #F2F2F2;
}

#problems-to-resolve {
    background-color: #F2F2F2;
    padding-bottom: 100px;
}

#problems-to-resolve h3 {
    padding-top: 5px;
    color: #196AA2;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#problems-to-resolve h2 {
    color: #196AA2;
    text-align: center;
    font-weight: normal;    
    margin-bottom: 25px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#problems-to-resolve h2 span{
    font-weight: bold;
}

#problems-to-resolve p {
    color: #196AA2;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.problems-to-resolve-icons {
    max-width: 194px; 
    max-height: 194px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding: 0;
    margin-top: 50px;
}

#benefits {
    background-image: url("data:image/svg+xml,%3Csvg width='1941' height='1828' viewBox='0 0 1941 1828' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1969.53 1827.55H0.291626V106.903L961.121 0.122803L1969.53 106.903V1827.55Z' fill='%23196AA2'/%3E%3C/svg%3E");
    color: var(--white);
    background-repeat:no-repeat;
    background-position: top center;
    min-height: 1830px;  
    background-color: #F2F2F2;
}

.left-arrow {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1512' height='287' viewBox='0 0 1512 287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1378.31 286.615H0.311401V0.874512H1378.31L1511.66 144.193L1378.31 286.615Z' fill='%23CCE0EA'/%3E%3C/svg%3E%0A");
    background-color: transparent;    
    background-repeat:no-repeat;
    background-position: center left;
}

.right-arrow {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='1542' height='287' viewBox='0 0 1542 287' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M138.984 0.822266H1571.55V286.573H138.984L0.351501 143.254L138.984 0.822266Z' fill='%23CCE0EA'/%3E%3C/svg%3E");
    background-color: transparent;    
    background-repeat:no-repeat;
    background-position: center right;
}