@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* variables*/
:root{
    --white: #fafafa;
    --black: #36383F;
    --gray: #85888C;
    --main-blue: #0b3d62;
    --second-blue: #1c69a1;
    --gold: #cead51;
    --dark-gold: #a68b3f;
    --light-blue: #ddf0fc;
    --lighter-blue: #ddf0fc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    --initial: #196AA2;
    --advance: #CBAC53;
    --premium: #0E3E63;
}

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

body { padding-top: 60px; }

html { scroll-behavior: smooth;}

#banner {
    background-image: url('./../images/cover.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: auto;
    height: 820px;
    background-color: var(--initial);
}

#banner h1 {
    color: var(--white);
    font-weight: bold;
    font-size: 7rem;
}

#banner p {
    color: var(--white);
    font-weight: normal;
    font-size: 1.5rem;
}

#banner .start-now {
    background-color: #F7F8F9;
    color: #0E3E63;
    font-weight: bold;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    border-radius: 50px;
}

.hand {
    width: 75%;
    height: auto;
}

#tools {
    color: var(--white);
    background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1938 299' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1969.53 234.898L983.893 298.705L0.291626 234.898V0.931885H1969.53V234.898Z' fill='%230E3E63'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 350px;
    background-color: #CCE0EA;
}

#tools-details {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1933 1085' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-28.9406 868L949.572 1084.84L1932.14 868V0.414795H949.572H-28.9406V868Z' fill='%23CCE0EA'/%3E%3C/svg%3E%0A");
    background-repeat:no-repeat;
    background-position: center -5rem;
    background-size: cover;
    background-color: #F2F2F2;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 850px;
}

#tools-details h2 {
    color: var(--premium);
    font-weight: bold;
}

#tools-details p {
    color: var(--premium);
    font-weight: normal;
}

#tools-details .card {
    border: none;
    border-radius: 0;
}

.tools-icons {
    background-color: #FFF;
    border: none;
    padding-top: 75px;
    padding-bottom: 25px;
}

#problems {
    background-color: #F2F2F2;
}

#problems h2 {
    color: var(--initial);
    font-weight: normal;
}

#problems h2 span {
    color: var(--initial);
    font-weight: bold;
}

#problems h3 {
    color: var(--initial);
    font-weight: bold;
}

#problems p {
    color: var(--initial);
    font-weight: normal;
}

#problems .card {
    border: none;
    border-radius: 0;
    background-color: #F2F2F2;
}

#problems .card-body {
    background-color: #F2F2F2;
}

#problems .card-header {
    background-color: #F2F2F2;
    border: none;
}

#benefits {
    background-image: url("data:image/svg+xml,%3Csvg  width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1941 1827' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1969.53 1827.55H0.291626V106.903L961.121 0.122803L1969.53 106.903V1827.55Z' fill='%23196AA2'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #F2F2F2;
    padding-top: 100px;
    padding-bottom: 100px;
}

#benefits h2 {
    color: var(--white);
}

#benefits h3 {
    color: var(--premium);
    font-weight: bold;
}

#benefits .card {
    min-height: 285px;
    border: none;
}

.card-text-premium {
    border: none;
    color: var(--premium);
    font-weight: normal;
}


#plans {
    background-image: url("data:image/svg+xml,%0A%3Csvg width='100%' height='100%' preserveAspectRatio='none' viewBox='0 0 1951 1714' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-32 108.712L945.993 0.0859375L1981.5 105V1713.3H-32V108.712Z' fill='%23DDF0FC'/%3E%3C/svg%3E%0A");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--initial);
    position: relative;
    overflow: hidden;
    margin-top: 0;
}

#plans::after {
    content: '';
    position: absolute;
    bottom: -60%; /* Ajusta esta posición según el tamaño */
    left: 50%;
    transform: translateX(-50%);
    width: 120%; /* Ancho del círculo */
    height: 100%; /* Altura del círculo */
    background-color: var(--premium);
    border-radius: 50%; /* Crear un círculo completo */
    z-index: 1; /* Envía el pseudo-elemento detrás del div */
}

.arrow-head {
    background-color: #FFF;
    clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
    max-width: 100px;
    border: 0;
}

.arrow-head-reverse {
    background-color: #FFF;
    clip-path: polygon(100% 0, 50% 0, 0 50%, 50% 100%, 100% 100%);
    max-width: 100px;
    border: 0;
}

.no-border-radius {
    border-radius: 0 !important;
}

footer {
    background-color: var(--premium);
    color: #FFF;
}

footer a, p {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

footer .social-media-list-item {
    background-color: var(--premium);
}

footer .social-media-list {
    padding: 0;
}

.no-gutters {
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

#plans .card-header {
    background-color: #FFF;
    border: none;
}

#plans .card {
    border: none;
}

#plans .card-body {
    background-color: #FFF;
}

#plans .card-footer {
    background-color: #FFF;
    border: none;
}

#plans h2 {
    color: var(--premium);
    font-weight: normal;
}

#plans h2 span {
    color: var(--premium);
    font-weight: bold;    
}


.initial-buy-button {
    background-color: var(--initial);
    color: #FFF;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1.8rem;
    border-radius: 50px;
}

.initial-buy-button:hover {
    /* background-color a little bit lighter */
    background-color: #0E3E63;
    border: 2px solid #0E3E63;
}

.advanced-buy-button {
    background-color: var(--advance);
    color: #FFF;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1.8rem;
    border-radius: 50px;
}

.advanced-buy-button:hover {
    /* background-color a little bit lighter */
    background-color: #a17e15;
    border: 2px solid #a17e15;
}

.premium-buy-button {
    background-color: var(--premium);
    color: #FFF;
    border: none;
    width: 100%;
    height: 80px;
    font-size: 1.8rem;
    border-radius: 50px;
}

.premium-buy-button:hover {
    /* background-color a little bit lighter */
    background-color: #00233d;
    border: 2px solid #00233d;
}

#menu ul li a {
    color: var(--premium);
    font-weight: 500;
}

/********************************** MEDIA QUERY */
@media (max-width: 575.98px) {
    /* xs: 0px a 575.98px */
    #plans::after {
        width: 0%; /* Ancho ajustado */
        bottom: -50%; /* Ajuste del bottom */
    }
    .initial-buy-button, .advanced-buy-button, .premium-buy-button {
        font-size: 1.4rem;
    }
    #banner h1 {
        font-size: 3rem;
    }
    #banner p {
        font-size: 1rem;
    }
    #banner .start-now {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
    }
    #banner {
        max-height: 650px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* sm: 576px a 767.98px */
    #plans::after {
        width: 150%; /* Ancho ajustado */
        bottom: -85%; /* Ajuste del bottom */
    }
    .initial-buy-button, .advanced-buy-button, .premium-buy-button {
        font-size: 1.4rem;
    }
    #banner h1 {
        font-size: 3.5rem;
    }
    #banner p {
        font-size: 1.3rem;
    }
    #banner .start-now {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
    }
    #banner {
        max-height: 780px !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* md: 768px a 991.98px */
    #plans::after {
        width: 120%; /* Ancho ajustado */
        bottom: -60%; /* Ajuste del bottom */
    }
    .initial-buy-button, .advanced-buy-button, .premium-buy-button {
        height: 40px;
        font-size: 1.25rem;
    }
    #banner h1 {
        font-size: 3rem;
    }
    #banner p {
        font-size: 1rem;
    }
    #banner .start-now {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1rem;
    }
    #banner {
        height: 520px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* lg: 992px a 1199.98px */
    #plans::after {
        width: 130%; /* Ancho ajustado */
        bottom: -65%; /* Ajuste del bottom */
    }
    #banner h1 {
        font-size: 3.5em;
    }
    #banner p {
        font-size: 1.3rem;
    }
    #banner .start-now {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 1.5rem;
    }
    #banner {
        height: 620px;
    }
}

@media (min-width: 1200px) and (max-width: 1399.99px) {
    /* xl: 1200px a 1399.98px */
    #plans::after {
        width: 140%; /* Ancho ajustado */
        bottom: -70%; /* Ajuste del bottom */
    }
    #banner h1 {
        font-size: 4rem;
    }
    #banner p {
        font-size: 1.8rem;
    }
    #banner .start-now {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5rem;
    }
    #banner {
        height: 620px;
    }
}

@media (min-width: 1400px) {
    /* xxl: 1400px en adelante */
    #plans::after {
        width: 150%; /* Ancho ajustado */
        bottom: -75%; /* Ajuste del bottom */
    }
    #banner h1 {
        font-size: 7rem;
    }
    #banner p {
        font-size: 2rem;
    }
    #banner .start-now {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.8rem;
    }
    #banner {
        height: 820px;
    }
}

.initial-price {
    color: var(--initial);
    font-weight: bold;
    font-size: 3rem;
}

.advance-price {
    color: var(--advance);
    font-weight: bold;
    font-size: 3rem;
}

.premium-price {
    color: var(--premium);
    font-weight: bold;
    font-size: 3rem;
}

.features-list {
    color: var(--premium);
    font-weight: normal;
    list-style: none;
}

.features-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.features-list li img {
    margin-right: 10px;
}

