#welcome {
    padding-top: 20px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    height: 100vh !important;
}

#welcome .container {
    min-width: 1200px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    height: 100%;
}

#welcome .container > div {
    width: 50%;
}

#welcome .container .img-container {
    display: grid;
    justify-content: center;
    align-items: start;
}


#welcome .container > div.features {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.features h1 {
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
}

.features h1::after {
    content: "";
    position: absolute;
    width: 75%;
    bottom: 0;
    left: 12.5%;
    border-bottom: 1px solid var(--gold);
}

.features h3 {
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 20px;
    position: relative;    
}

.features h3::after {
    content: "";
    position: absolute;
    width: 75%;
    bottom: 0;
    left: 12.5%;
    border-bottom: 1px solid var(--gold);
}

.features-list {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    list-style: none;
    text-align: left;
}

.features-list > li {
    line-height: 35px;
    display: list-item;
    position: relative;   
}

.features-list li::before {
    content: "+";
    font-size: xx-large;
    position: absolute;
    left: -30px;
    bottom: 2px;
    color: var(--gold);
}

#welcome .container > div > img {
    height: 400px;
}
